body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    
    
    height: 800px;
    width: 400px;
} 
#result {
    width: 100%;
    padding: 20px;
    background-color:black;
    font-size: 5rem;
    text-align: left;
    border: none;
    color: white;
    border: 2px solid gray;
}
#keypad {
    padding: 20px;
    height: 450px;
    width: 100%;
    background-color: aliceblue;
    border: 2px solid gray;
    
    
}
#keypad > button {
    width: 24%;
    height: 20%;
}